.backImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
.headingText {
  text-align: center;
  margin-top: 10em;
  color: white;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
  padding: 0 10px;
  display: block;
}
.headingText h1 {
  font-size: 2rem;
}
.headingText p {
  font-size: 1rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 30%;
  margin: 0 auto;
  margin-top: 1em;
  gap: 10px;
  width: 100%;
}
.searchButton {
  flex: 0 1 70px;
  height: 2em;
}

.search {
  flex: 1 0 250px;
}

.homePageSearchResults {
  background-color: rgb(245, 238, 238);
  padding: 20px;
  padding-bottom: 0;
  margin-top: 10px;
  border-radius: 5px;
  position: absolute;
  overflow-y: auto;
  max-height: 20em;
}
.searchResultDivider {
  background-color: rgba(100, 98, 98, 0.741);
  height: 2px;
  width: 100%;
  margin: 20px 0;
}

.homePageSearchResults p {
  color: rgba(30, 29, 29, 0.775);
  text-shadow: none;
}

.destinationText {
  color: white;
  text-align: center;
  margin: 15em 0px 2em 0px;
}
.destinationText h2 {
  font-size: 1.5rem;
}
.destinationText p {
  font-size: 0.9rem;
}
.destinationCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
}
.valueTripText {
  color: white;
  text-align: center;
  margin: 6em 0px 2em 0px;
}
.valueTripText h2 {
  font-size: 1.5rem;
}
.valueTripText p {
  font-size: 0.9rem;
}

.AllTripCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
}
.servicesText {
  color: white;
  text-align: center;
  margin: 6em 0px 2em 0px;
}
.servicesText h2 {
  font-size: 1.5rem;
}
.allServices {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 80%;
  width: 100%;
}

/*Footer*/

@media (min-width: 768px) {
  .headingText {
    margin-top: 10em;
  }
  .headingText h1 {
    font-size: 4vw;
  }
  .headingText p {
    font-size: 2vw;
  }
  .destinationText h2 {
    font-size: 3.3vw;
  }
  .destinationText p {
    font-size: 1.8vw;
  }
  .valueTripText h2 {
    font-size: 3.3vw;
  }
  .valueTripText p {
    font-size: 1.8vw;
  }
  .servicesText h2 {
    font-size: 3.3vw;
  }
}

@media (min-width: 1024px) {
  .headingText {
    margin-top: 10em;
  }
  .headingText h1 {
    font-size: 3.1vw;
  }
  .headingText p {
    font-size: 1.3vw;
  }
  .destinationText {
    margin: 37vw 0px 3vw 0px;
  }
  .destinationText h2 {
    font-size: 2.2vw;
  }
  .destinationText p {
    font-size: 1.2vw;
  }
  .destinationCards {
    gap: 45px;
  }
  .valueTripText h2 {
    font-size: 2.2vw;
  }
  .valueTripText p {
    font-size: 1.2vw;
  }
  .AllTripCards {
    gap: 70px;
  }
  .servicesText h2 {
    font-size: 2.2vw;
  }
}
