/*Hero Section*/
.tripPackageImageContainer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(13, 15, 15, 0) 0%,
    rgba(13, 15, 15, 0.1) 50%,
    rgba(13, 15, 15, 1) 100%
  );
}

.tripPackageImageContainer img {
  position: absolute;
  z-index: -1000;
  top: 0px;
  object-position: center;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.tripPackagePriceContainer {
  max-width: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  background-color: rgba(21, 21, 20, 0.693);
  bottom: 3%;
  right: 5%;
}
.tripPackageBookNowButton {
  background: rgba(255, 0, 0, 1);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 2.5em;
}

.tripPackageBookNowButton:hover {
  background: rgb(104, 25, 25);
}

.tripPackageImageContainer h1 {
  position: absolute;
  color: white;
  font-size: 1.7rem;
  left: 7vw;
  text-shadow: 0px 2px hsla(0, 0%, 6%, 0.489);
  width: 300px;
  bottom: 25%;
}
.tripPackagePriceText {
  color: white;
  font-size: 1.7rem;
  text-shadow: 0px 2px hsla(0, 0%, 6%, 0.489);
}
.tripPackageClockIcon,
.tripPackageCalendarIcon,
.tripPackageIDIcon {
  position: relative;
  width: 1.7em;
  height: 1.7em;
  color: white;
}
.tripPackageDescriptionCardsContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 188px;
}
.tripPackageDescriptionCardsContainer p {
  text-shadow: 0px 2px hsla(0, 0%, 7%, 0.489);
  color: white;
  font-size: 1em;
}

/*Main Section*/
/*Hotel Section*/
.hotelSection {
  margin: 45px 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: white;
}
.hotelSection h3 {
  font-size: 1.5rem;
}
.hotelSection h4 {
  font-size: 1.1rem;
}
.hotelSection p {
  font-size: 1rem;
  word-break: break-all;
}

.hotelNameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotelNameContainer img {
  width: 50px;
  height: 50px;
}
/*Trip Images Flexbox*/
.TripPackageImagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}
.TripPackageImagesContainer img {
  width: 125px;
  height: 125px;
  border-radius: 3px;
  object-fit: cover;
}
/*Red Divider*/
.redBox {
  margin: 30px 140px 0 140px;
  background-color: red;
  height: 3px;
}

#placesVisitingh3 {
  margin: 30px 50px 0 50px;
  color: white;
}
.visitingPlaceContainer {
  margin: 45px 50px 0 50px;
  color: white;
}

/*transportation*/

.transportation {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.transportation h3 {
  font-size: 1.6rem;
}
.transportationNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.transportationNameContainer img {
  width: 50px;
  height: 50px;
}
.transportationNameContainer h4 {
  font-size: 1.2rem;
}
.transportationNameContainer p {
  font-size: 1rem;
  word-break: break-all;
}

.reviewSubmitButton {
  min-height: 3em;
  background: rgba(255, 0, 0, 1);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.reviewSubmitButton:hover {
  background: rgb(104, 25, 25);
}

.reviewSubmitSuccessful {
  min-height: 3em;
  background: rgb(17, 168, 27);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .tripPackageImageContainer h1 {
    font-size: 2.1rem;
  }

  .tripPackageDescriptionCardsContainer {
    justify-content: space-around;
    margin-top: 220px;
  }
  .tripPackageClockIcon,
  .tripPackageCalendarIcon,
  .tripPackageIDIcon {
    width: 1.8em;
    height: 1.8em;
  }
  .tripPackageDescriptionCardsContainer p {
    font-size: 1.1em;
  }
  /*Hotel Section*/
  .hotelSection {
    margin-top: 55px;
  }
  /*Trip Images Flexbox*/
  .TripPackageImagesContainer img {
    width: 150px;
    height: 150px;
  }

  /*Visiting Places*/

  #placesVisitingh3 {
    font-size: 1.5rem;
    color: white;
  }
  .visitingPlaceContainer {
    color: white;
  }
  .visitingPlaceContainer h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .visitingPlaceContainer p {
    font-size: 1rem;
    word-break: break-all;
  }
}
@media (min-width: 1024px) {
  /*Hero Section*/
  .tripPackageImageContainer {
    height: 540px;
  }
  .tripPackageImageContainer h1 {
    position: absolute;
    bottom: 25%;
    left: 7vw;
    color: white;
    font-size: 2.5rem;
    text-shadow: 0px 2px hsla(0, 0%, 6%, 0.489);
    width: 300px;
  }
  .tripPackageImageContainer img {
    position: absolute;
    z-index: -1;
    top: 0;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .tripPackageDescriptionCardsContainer {
    justify-content: space-around;
    margin-top: 440px;
  }
  .tripPackageClockIcon,
  .tripPackageCalendarIcon,
  .tripPackageIDIcon {
    width: 3.1em;
    height: 3.1em;
  }
  .tripPackageDescriptionCardsContainer p {
    font-size: 1.3em;
  }
  /*Hotel Section*/
  .hotelSection {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .hotelSection h3 {
    font-size: 1.6rem;
  }
  .hotelSection h4 {
    font-size: 1.2rem;
  }
  .hotelSection p {
    font-size: 1rem;
    word-break: break-all;
  }

  /*Trip Images*/
  .TripPackageImagesContainer {
    justify-content: flex-start;
    gap: 2vw;
    margin-top: 20px;
  }
  .TripPackageImagesContainer img {
    width: 200px;
    height: 200px;
  }

  /*Visiting Places*/

  #placesVisitingh3 {
    margin: 30px 150px 0 150px;
    font-size: 1.6rem;
    color: white;
  }
  .visitingPlaceContainer {
    margin: 30px 150px 60px 150px;
    color: white;
  }
  .lastPlace {
    margin-bottom: 30px;
  }
  .visitingPlaceContainer h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .visitingPlaceContainer p {
    font-size: 1rem;
    word-break: break-all;
  }

  /*transportation*/

  .transportation {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
  }
  .transportation h3 {
    font-size: 1.6rem;
  }
  .transportationNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .transportationNameContainer img {
    width: 50px;
    height: 50px;
  }
  .transportationNameContainer h4 {
    font-size: 1.2rem;
  }
  .transportationNameContainer p {
    font-size: 1rem;
    word-break: break-all;
  }

  /*Other Info*/

  .otherInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 150px 0 150px;
    color: white;
  }
  .otherInfoContainer p {
    font-size: 1.1rem;
  }
  .otherInfoContainer h3 {
    font-size: 1.6rem;
  }
  .otherInfoContainer h4 {
    font-size: 1.2rem;
  }
  .allInformationContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .arrivalContainer {
    display: flex;
    justify-content: space-between;
  }
  .departureTimeContainer {
    display: flex;
    justify-content: space-between;
  }
  .returnTimeContainer {
    display: flex;
    justify-content: space-between;
  }
  .includedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .includedItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .includedItemsInsideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  /*Ratings*/

  .tripRatingsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 150px 0 150px;
    color: white;
  }
  .tripRatingsContainer h3 {
    font-size: 1.6rem;
  }
  .tripRatingsItemsContainer h4 {
    font-size: 1.2rem;
    width: 200px;
  }
  .tripRatingsItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tripRatingRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tripRatingItem {
    display: flex;
    gap: 8vw;
    align-items: center;
  }

  /*Review*/

  .writeReviewContainer {
    margin: 30px 150px 0 150px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .writeReviewContainer h3 {
    font-size: 1.6rem;
  }
  .writeReviewTitleAndView {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .writeReviewInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .writeReviewInputContainer textarea {
    border-radius: 5px;
    font-size: 18px;
  }
  .twoInputFlexbox {
    display: flex;
    justify-content: space-between;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
  .formContainer label {
    font-size: 1.1rem;
  }
  .reviewNotLoggedInContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviewNotLoggedInContainer h3 {
    font-size: 1.7rem;
    text-shadow: none;
  }

  .writeReviewInputTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 47%;
  }
  .writeReviewInputTextContainer input {
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
  }
}
