.card{
    width: 225px;
    height: 275px;
    border-radius: 10px;
}
.card h3{
    position: absolute;
  transform: translate(10px, -40px);
  color: white;
  z-index: 1;
}
.card img{
    width: 100%;
  height: auto;
}
.card:hover{
    transition-timing-function: linear;
    transition-duration: 100ms;
    transform: translate(0px,-10px);
}