.TripCardContainer{
    width: 18vw;
    height: 21.5vw;
    border: 1px solid white;
}
.TripImageContainer img{
    width: 100%;
    height: auto;
}
.priceContainer{
    transform: translate(1px,-50px);
    width: 60px;
    height: 24px;
    text-align: center;
    padding:5px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.tripCardText{
    font-size: 0.9vw;
    margin-left: 8px;
    color: white;
    text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
}
.TripCardATag{
    text-decoration: none;
}
.TripCardContainer:hover{
    transition-timing-function: linear;
    transition-duration: 100ms;
    transform: translate(0px,-10px);
}
.starAndTime{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4vw;
    margin-left: 6px;
}
.redtripCardStar{
    width: 1vw;
    height: 2vh;
    color: red;
    padding-left: 2px;
}
.whitetripCardStar{
    width: 1vw;
    height: 2vh;
    color: white;
    padding-left: 2px;
}
.clockAndTime{
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: white;
    font-size: 0.95vw;
}
.tripCardClock{
    color: white;
    margin-right: 5px;
}
.tripCardBottom{
    transform: translate(0,-1.5vw);
}

