.body{
  background-color: hsla(0, 0%, 7%, 0.863);
}
.backImage{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.headingText{
  text-align: center;
  margin-top: 10vw;
  color: white;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
  padding: 0 10px;
}
.headingText h1 {
  font-size: 6vw; /* Larger font for small screens */
}
.headingText p {
  font-size: 3vw; /* Larger font for small screens */
}



.searchForm{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.searchButton{
  margin-left: 10px;
  width: 70px;
}
.destinationText{
  color: white;
  text-align: center;
  margin: 30vw 0px 3vw 0px;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
}
.destinationText h2{
  font-size: 4.5vw;
}
.destinationText p{
  font-size: 2.6vw;
}
.destinationCards{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 12vw;
}
.valueTripText{
  color: white;
  text-align: center;
  margin: 19vw 0px 3vw 0px;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
}
.valueTripText h2{
  font-size: 4.5vw;
}
.valueTripText p{
  font-size: 2.6vw;
}

.AllTripCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 10vw;
}
.servicesText{
  color: white;
  text-align: center;
  margin: 19vw 0px 3vw 0px;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
}
.servicesText h2{
  font-size: 4.5vw;
}
.allServices{
  display: flex;
  justify-content: center;
}


@media (min-width: 768px) {
  .headingText {
    margin-top: 10vw;
  }
  .headingText h1 {
    font-size: 4vw; /* Adjust font for medium screens */
  }
  .headingText p {
    font-size: 2vw;
  }
  .destinationText h2{
    font-size: 3.3vw;
  }
  .destinationText p{
    font-size: 1.8vw;
  }
  .valueTripText h2{
    font-size: 3.3vw;
  }
  .valueTripText p{
    font-size: 1.8vw;
  }
  .servicesText h2{
    font-size: 3.3vw;
  }
}

@media (min-width: 1024px) {
  .headingText {
    margin-top: 9vw;
  }
  .headingText h1 {
    font-size: 3.5vw; /* Adjust font for larger screens */
  }
  .headingText p {
    font-size: 1.5vw;
  }
}

