.headingText{
  text-align: center;
  margin: 200px 0px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px hsla(0, 0%, 27%, 0.489);
}
.headingText p{
  font-size: 22px;
}
.backImage{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-position: center;
  width: 100%;
}